* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #231f20;
  margin: 0;
  background-color: #fff5e5;
  line-height: 1.5;
}

.red {
  background-color: #ec1f27;
}

.text-white {
  color: white;
}

.small {
  font-size: 18px;
}

.medium {
  font-size: 24px;
}

.large {
  font-size: 36px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
}

header,
.main-heading,
.description,
.top-image img {
  padding-left: 20vw;
  padding-right: 20vw;
}

.bold {
  font-weight: bold;
}

.header-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-right a {
  text-decoration: none;
  background-color: inherit;
  color: inherit;
}

.top-image img {
  max-width: 60vw;
}

.main-heading {
  text-transform: uppercase;
  text-align: center;
  color: #ec1f27;
  font-size: 48px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 50px 0;
  gap: 50px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

figcaption {
  margin: 0;
  font-style: italic;
}

p,
ol {
  margin: 0 20px;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  align-items: center;
  gap: 24px;
}

footer,
footer * {
  background-color: lightgrey;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.social-link {
  width: 48px;
  height: auto;
  background-color: inherit;
}

@media (width <= 960px) {
  header,
  .main-heading,
  .description {
    padding-left: 20px;
    padding-right: 20px;
  }

  .top-image img {
    max-width: 100vw;
  }
}

@media (width <= 650px) {
  iframe {
    max-width: 100%;
  }

  .small {
    font-size: 16px;
  }

  .medium {
    font-size: 16px;
  }

  .large {
    font-size: 30px;
  }
}
